{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syncus.</title>
    <link rel="stylesheet" href="{% static 'Blog/main.css' %}">
    <link rel="icon" href="{% static 'Blog/images/favicons.ico' %}">

</head>
<body>
    <div class="nav-bar">
        <header>
            <div class="logo">Syncus.</div>
            <nav>
                <ul>
                    <li><a href="/">write</a></li> 
                    <li><a href="/">category</a></li> 
                    <li><a href="/">about</a></li> 
                    <li><a href="/">contact</a></li> 
                </ul>
            </nav>
        </header>
    </div>
    <main>
        <div class="mid-text">
            Get Started and explore your whole new world.
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Find your blog here...">
        </div>
        <div class="card">

            <div class="img-cont"></div>
            <div class="date">10 May 2020</div>
            <div class="title"><a href="/">10 most underrated web design resources.</a></div>
            <div class="user">
                <div class="icon"></div>
                <p><a href="/">Fabian</a></p>
            </div>
        </div>
        
    </main>

</body>
</html>