{%load static%}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'Blog/Select.css' %}">
        <link rel="icon" href="{% static 'Blog/images/favicons.ico' %}">
        <title>Syncus.</title>
    </head>
    
    <body>
        <div class = "container"> 
            <div class = "slab">
                <div class = "top">

                    <h1>Syncus.</h1>

                </div>
                <div class = "bottom">
                    <h2>Tell us about your interests.</h2>
                </div>
                <div class="more">
                    <div class="skip">
                        <a href="/">Skip</a>
                    </div>
                    <div class="all">
                        <a href="/">Select All</a>
                    </div>    
                </div>
            </div>
            <div class="choice">
                <div class="select"><input class="btn" type="submit" value="ai"></div>
                <div class="select"><input class="btn" type="submit" value="ml"></div>
                <div class="select"><input class="btn" type="submit" value="iot"></div>
                <div class="select"><input class="btn" type="submit" value="rpa"></div>
                <div class="select"><input class="btn" type="submit" value="c"></div>
                <div class="select"><input class="btn" type="submit" value="python"></div>
                <div class="select"><input class="btn" type="submit" value="ai"></div>
                <div class="select"><input class="btn" type="submit" value="ml"></div>
                <div class="select"><input class="btn" type="submit" value="iot"></div>
                <div class="select"><input class="btn" type="submit" value="rpa"></div>
                <div class="select"><input class="btn" type="submit" value="c"></div>
                <div class="select"><input class="btn" type="submit" value="python"></div>
                <div class="select"><input class="btn" type="submit" value="ai"></div>
                <div class="select"><input class="btn" type="submit" value="ml"></div>
                <div class="select"><input class="btn" type="submit" value="iot"></div>
                <div class="select"><input class="btn" type="submit" value="rpa"></div>
                <div class="select"><input class="btn" type="submit" value="c"></div>
                <div class="select"><input class="btn" type="submit" value="python"></div>
                <div class="select"><input class="btn" type="submit" value="ai"></div>
                <div class="select"><input class="btn" type="submit" value="ml"></div>
                <div class="select"><input class="btn" type="submit" value="iot"></div>
                <div class="select"><input class="btn" type="submit" value="rpa"></div>
                <div class="select"><input class="btn" type="submit" value="c"></div>
                <div class="select"><input class="btn" type="submit" value="python"></div>
                

                
            </div>
            <div class="next">
                <a href="{%url 'main'%}">Next</a>
            </div>
            
            
        </div>
        
        
        
    </body>
</html>
