{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Blog/styles.css' %}">
    <link rel="icon" href="{% static 'Blog/images/favicons.ico' %}">
    <title>Syncus.</title>
</head>

<body>

    <center><h3>Terms and Conditions</h3><br>
    <div class="bottom-btn">
        <a href="{%url 'signup'%}">Return to Signup Page</a>
    </div>

    <div class="tac-container">
            <p>

                By using this website, you acnowledge that you are a eligible internet user <br> over 18 years of age and that you shall use the site only for efucational purposes.<br>
                
                If users abuse your website or mobile app in any way, you can terminate their account.<br> Your "Termination" clause can inform users that their accounts would be terminated if they abuse your service.<br>
                If users can post content on your website or mobile app (create content and share it on your platform), you can remove any content they created if it infringes copyright.<br> Your Terms and Conditions will inform users that they can only create and/or share content they own rights to. <br>Similarly, if users can register for an account and choose a username, you can inform users that they are not allowed to choose usernames that may infringe trademarks, i.e. usernames like Google, Facebook, and so on. <br>
                If you sell products or services, you could cancel specific orders if a product price is incorrect. <br>Your Terms and Conditions can include a clause to inform users that certain orders, at your sole discretion, can be canceled if the products ordered have incorrect prices due to various errors.<br>

            </p>

    </div>

</body>
</html?
